body {
  background:#f4f6fb;
  font-family: "Segoe UI", Tahoma, sans-serif;
}

.header {
  background:#5a4fcf;
  color:white;
  padding:16px;
  display:flex;
  align-items:center;
  gap:16px;
}

.logo {
  width:56px;
}

.container {
  max-width:760px;
}

section {
  background:white;
  padding:24px;
  margin-top:20px;
  border-radius:12px;
  box-shadow:0 6px 18px rgba(0,0,0,.08);
}

label {
  margin-top:12px;
  font-weight:600;
}

.btn-main {
  background:#5a4fcf;
  color:white;
  width:100%;
  margin-top:20px;
  border-radius:30px;
}

.error {
  color:#d93025;
  font-size:0.9em;
}
body {
  margin:0;
  font-family: "Segoe UI", sans-serif;
}

.header {
  background: white;
  color: #5a4fcf;
  padding: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
  border-bottom: 4px solid #5a4fcf;
}


.logo {
  width:60px;
}

.purple-bg {
  background:#5a4fcf;
  min-height:100vh;
  padding:30px;
}

.card-box {
  background:white;
  max-width:850px;
  margin:auto;
  padding:30px;
  border-radius:20px;
  font-size:1.2rem;
}

h2 {
  margin-bottom:20px;
}

.form-lg {
  font-size:1.2rem;
  padding:12px;
}

.btn-main {
  background:#5a4fcf;
  color:white;
  font-size:1.3rem;
  padding:12px;
  border-radius:30px;
  width:100%;
  margin-top:20px;
}

.nav-btn {
  display:flex;
  gap:15px;
  margin-top:25px;
}

.image-box {
  position:relative;
  margin-bottom:25px;
}

.image-box img {
  width:100%;
  border-radius:15px;
}

.full-img {
  object-fit:contain;
}

.img-label {
  position:absolute;
  top:10px;
  left:10px;
  background:rgba(90,79,207,0.85);
  color:white;
  padding:8px 15px;
  border-radius:20px;
  font-size:1.1rem;
}

.table-lg th, .table-lg td {
  font-size:1.2rem;
}

.error {
  color:red;
  font-size:1rem;
}
/* ===== HOME BACKGROUND IMAGE ===== */
.home-bg {
  background:
    linear-gradient(rgba(90,79,207,0.55), rgba(90,79,207,0.55)),
    url("https://i.ibb.co/Lzbb3PLy/bg.jpg");
  background-size: cover;
  background-position: center;
  color: white;
}


/* ทำให้ input อ่านง่ายบนพื้นหลังรูป */
.home-bg input,
.home-bg select {
  background: rgba(255,255,255,0.95);
  color: #000;
}
.header p {
  color: #6b63d9;
  margin: 0;
}
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
}

.modal-content {
  background: #ffffff;
  max-width: 380px;
  margin: 25% auto;
  padding: 30px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.modal-content h2 {
  color: #5c52cc;
  margin-bottom: 10px;
}

.modal-content p {
  font-size: 18px;
  color: #333;
  margin-bottom: 20px;
}

.modal-content button {
  background: #5c52cc;
  color: white;
  border: none;
  padding: 12px 30px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
}

.modal-content button:hover {
  background: #4a42b8;
}

